:host {
    display: block;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

img {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-loaded {
    animation: popIn 0.4s both ease-in;
}

@keyframes popIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
