app-blurhash {
  // for correct image size specify fixed width or height or aspect ratio as below
  // reference: https://stackoverflow.com/a/10441480/197913
  width: 100%;
  padding-bottom: 75%
}

ion-content ion-toolbar {
  --background: translucent;
}